apollo-config/apollo-config-spring/src/main/resources/META-INF/apollo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.apollo.com/schema/apollo"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://www.apollo.com/schema/apollo"
            elementFormDefault="qualified" attributeFormDefault="unqualified">

       <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
       <xsd:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"/>
       <xsd:import namespace="http://www.springframework.org/schema/tool"/>

       <xsd:element name="application">
              <xsd:complexType>
                     <xsd:complexContent>
                            <xsd:extension base="beans:identifiedType">
                                   <xsd:attribute name="name" type="xsd:string"/>
                            </xsd:extension>
                     </xsd:complexContent>
              </xsd:complexType>
       </xsd:element>


       <xsd:element name="service">
              <xsd:complexType>
                     <xsd:complexContent>
                            <xsd:extension base="beans:identifiedType">
                                   <xsd:attribute name="interface" type="xsd:string"/>
                                   <xsd:attribute name="ref" type="xsd:string" use="required"/>
                                   <xsd:attribute name="timeout" type="xsd:int" use="optional"/>
                                   <xsd:attribute name="port" type="xsd:string" use="optional"/>
                                   <xsd:attribute name="weight" type="xsd:int" use="optional"/>
                                   <xsd:attribute name="groupName" type="xsd:string" use="optional"/>
                            </xsd:extension>
                     </xsd:complexContent>
              </xsd:complexType>
       </xsd:element>


       <xsd:element name="reference">
       <xsd:complexType>
       <xsd:complexContent>
       <xsd:extension base="beans:identifiedType">
              <xsd:attribute name="interface" type="xsd:string"/>
              <xsd:attribute name="timeout" type="xsd:int" use="required"/>
              <xsd:attribute name="nameservice" type="xsd:string" use="optional"/>
              <xsd:attribute name="cluster" type="xsd:string" use="optional"/>
              <xsd:attribute name="loadbalance" type="xsd:string" use="optional"/>
              <xsd:attribute name="group" type="xsd:string" use="optional"/>
              <xsd:attribute name="uri" type="xsd:string" use="optional"/>
       </xsd:extension>
       </xsd:complexContent>
       </xsd:complexType>
       </xsd:element>

       <xsd:element name="nameservice">
              <xsd:complexType>
                     <xsd:complexContent>
                            <xsd:extension base="beans:identifiedType">
                                   <xsd:attribute name="protocol" type="xsd:string" use="required"/>
                                   <xsd:attribute name="address" type="xsd:string" use="required"/>
                            </xsd:extension>
                     </xsd:complexContent>
              </xsd:complexType>
       </xsd:element>

</xsd:schema>